@use 'sass:math';

// ----- Mixins ----- //

@mixin md {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1300px) {
    @content;
  }
}

// ----- FPS meter ----- //

.fps {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 60px;
  align-items: flex-end;
  justify-content: flex-end;
}

.fps__bar {
  flex: 1px 0 0;
  background-color: var(--green);
}

.fps__value {
  position: fixed;
  top: 40px;
  left: 0;
  font-size: 12px;
  padding: 2px 4px;
}

// ----- Variables ----- //

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-transparent: rgba(20, 34, 48, 0.85);

  --bg: rgb(20, 34, 48);
  --fg: #eee;

  --red: #ff2c55;
  --orange: #ff9500;
  --yellow: #ffcc02;
  --green: #35c759;
  --light-blue: #5bc7fa;
  --blue: #007aff;
  --purple: #5856d7;
  --mystic-magenta: #af52de; // xD

  --red-contrast: hsl(348, 100%, 65%);
  --blue-contrast: hsl(211, 100%, 60%);
  --purple-contrast: hsl(241, 62%, 70%);
  --yellow-contrast: hsl(48, 100%, 60%);

  --text-opacity: 0.7;
  --text-light: #bdc0c4;
}

// ---- Reset ---- //

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none; // Each element will use custom focus states
}

*:focus-visible {
  outline: 2px solid var(--purple-contrast);
}

svg {
  display: block;
}

// ---- Typography ---- //

body {
  background-color: var(--bg);
  color: var(--fg);
  font-size: 18px;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--light-blue);

  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa,
    Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri,
    source-sans-pro, sans-serif;

  display: flex;

  @include md {
    font-size: 48px;
  }

  span:nth-child(1) {
    color: var(--orange);
  }
  span:nth-child(2) {
    color: var(--yellow);
  }
  span:nth-child(3) {
    color: var(--green);
  }
  span:nth-child(4) {
    color: var(--light-blue);
  }
  span:nth-child(5) {
    color: var(--blue);
  }
  span:nth-child(6) {
    color: var(--purple);
  }
}

a,
a:visited {
  color: var(--fg);
  text-decoration: underline;
  outline: none;
}

a:hover {
  color: var(--purple-contrast);
}

a:focus-visible {
  outline: 1px solid var(--purple-contrast);
}

button {
  cursor: pointer;
}

button,
input {
  font: inherit;
}

pre {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
}

// ----- Layout ----- //

.pulsar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  max-width: 1200px;
  margin: 0 auto;

  @include lg {
    flex-direction: row;
  }
}

.top {
  width: 100%;
}

.title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.tutorial {
  margin-inline: 8px auto;
}

.intro-text {
  color: var(--text-light);
}

// ----- Button ----- //

.icon-button,
.button {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  color: white;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;
}

.icon-button:hover,
.button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.icon-button:active,
.button:active {
  transform: translateY(1px);
}

.icon-button:focus-visible,
.button:focus-visible {
  outline: 2px solid var(--purple-contrast);
}

.icon-button {
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.icon-button:hover {
  color: white;
}

.button {
  display: inline-flex;
  padding: 10px 21px 10px 18px;

  svg {
    width: 18px;
    height: 18px;
  }
}

.button--sm {
  padding: 3px 12px;
}

.button span {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.button:hover svg,
.button:focus-visible svg {
  color: var(--purple-contrast);
}

// ----- Play / pause button ----- //

.is-playing .play-pause__play-label,
.is-paused .play-pause__pause-label {
  display: none;
}

// ----- Animation ----- //

.canvas {
  display: block;
  width: 100%;

  @include lg {
    margin-top: -10%;
  }
}

.gif .canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: black;
  width: 296px;
  padding: 20px;
}

$pixel-size: 7.5%;

.animation-wrapper {
  padding: 30px;
  position: sticky;
  top: 0;
  margin: auto;
  max-width: 400px;
  width: 100%;
}

.animation {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include lg {
    margin-top: -10%;
  }
}

.pixel-wrapper {
  width: $pixel-size;
  height: $pixel-size;
  position: relative;
}

.pixel-wrapper[data-variant='triangular'] {
  width: 10%;
  height: 10%;
}

.pixel-wrapper svg {
  position: absolute;
  overflow: visible;

  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);

  width: 100%;
  height: 100%;
}

// ----- Toggle UI ----- //

.toggle-ui {
  @include md {
    display: none;
  }
}

.toggle-ui__absolute {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  @include md {
    display: block;
  }
}

.toggle-ui__show-label {
  display: none;
}

.ui-hidden {
  .controls {
    display: none;
  }

  .animation {
    margin-top: -10%;
  }

  .toggle-ui__absolute {
    display: block;
  }

  .toggle-ui__show-label {
    display: block;
  }

  .toggle-ui__hide-label {
    display: none;
  }
}

// ----- Controls ----- //

.controls {
  background-color: var(--bg-transparent);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  margin-inline: auto;
  border-radius: 20px 20px 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 15px;

  @include md {
    padding: 40px;
    row-gap: 20px;
  }

  @include lg {
    border-radius: 0;
    width: 450px;
    margin: 0;
    padding: 40px;
    padding-top: 0;
    background: none;
    backdrop-filter: none;
  }

  @include xl {
    border-radius: 0;
    width: 600px;
    padding: 60px;
    padding-top: 0;
  }
}

// ----- Radio ----- //

.radio__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}

.radio__name {
  margin-right: auto;
  flex: 100% 0 0;
  font-size: 16px;
  margin-bottom: 4px;
  display: block;
}

.radio__input {
  opacity: 0;
  position: fixed;
  top: -500vh;
  left: -500vw;
  pointer-events: none;
  width: 0;
  height: 0;
}

.radio__label {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  padding-inline: 5px;
  margin-inline: -5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.radio__label svg:nth-child(2) {
  display: none;
}

.radio__input:focus-visible + .radio__label {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.radio__input:checked + .radio__label {
  svg:nth-child(1) {
    display: none;
  }
  svg:nth-child(2) {
    display: block;
  }
}

// Grid
.radio__input--classic:checked + .radio__label {
  color: var(--green);
}
.radio__input--hex:checked + .radio__label {
  color: var(--light-blue);
}
.radio__input--triangular:checked + .radio__label {
  color: var(--blue-contrast);
}

// Animate property
.radio__input--scale:checked + .radio__label {
  color: var(--purple-contrast);
}
.radio__input--opacity:checked + .radio__label {
  color: var(--mystic-magenta);
}
.radio__input--both:checked + .radio__label {
  color: var(--red-contrast);
}

// autoplay
.radio__input--autoplay:checked + .radio__label {
  color: var(--yellow-contrast);
}

// ----- Editor ----- //

.editor {
  position: relative;
  width: 100%;
}

.editor__error {
  position: absolute;
  background-color: var(--bg);
  top: 0;
  left: 0;
  color: var(--orange);
  font-size: 16px;
}

.editor__label {
  font-size: 16px;
  margin-bottom: 4px;
  display: block;
}

.editor__prefix {
  font-size: 13px;
  margin-bottom: 4px;
  color: var(--text-light);
}

.editor__wrapper {
  font-weight: normal;
  text-align: left;
  width: 100%;
  min-height: 48px;
  position: relative;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);

  @include md {
    min-height: 57px;
  }
}

.editor__pre,
.editor__textarea {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
  font-size: 17px;
  padding: 10px 12px;
  border: none;
  display: block;
  line-height: 1.6;
  border-radius: 10px;

  @include md {
    font-size: 18px;
    padding: 14px 16px;
  }
}

.editor__textarea {
  position: absolute;
  top: 0px;
  color: transparent;
  background: transparent;
  caret-color: white;
  resize: none;

  // Debug
  .debug & {
    color: var(--fg);
    position: relative;

    &:not(:focus) {
      outline: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

.editor__pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

.editor__pre i {
  font-style: normal;
}

i.quotes {
  color: #e2d872;
}
i.declaration {
  color: #64d5ea;
}
i.fn {
  color: #a7e22e;
}
i.parenthesis {
  color: #fed703;
}
i.squared {
  color: #5fe8e8;
}
i.curly {
  color: #da70d6;
}
i.number {
  color: #9f77e7;
}
i.logic {
  color: #f92572;
}
i.equals {
  color: #5fe8e8;
}
i.comments {
  color: #789;
  font-style: italic;
}
i.comments > * {
  color: inherit;
}

// ----- Buttons on bottom ----- //

.bottom {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

// ----- Share button ----- //

.share .share__success-label {
  display: none;

  svg {
    color: var(--green);
  }
}
.share .share__error-label {
  display: none;
}

.share.share--success {
  .share__default-label {
    display: none;
  }
  .share__success-label {
    display: inline-flex;
  }
}

.share.share--error {
  .share__default-label {
    display: none;
  }
  .share__error-label {
    display: inline-flex;
  }
}

// ----- Record button ----- //

.record:hover svg {
  color: var(--red);
}

.record .record__stop-label {
  display: none;
}

.is-recording {
  .record__start-label {
    display: none;
  }
  .record__stop-label {
    display: inline-flex;
  }
}
