@use 'sass:math';

@mixin md {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 900px) {
    @content;
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #1e2c3a;
  --fg: #eee;

  --main: #ff2c55;

  --input-range-color: #eee;

  --button-bg: rgba(255, 255, 255, 0.03);
  --button-hover-bg: rgba(255, 255, 255, 0.03);

  --input-thumb-size: 18px;
  --input-checkbox-size: 16px;

  // --main-dark: hsl(348, 96%, 38%);
  // --outline-color: hsl(348, 96%, 58%);

  --gradient-start: #da5a4b;
  --gradient-end: #6f298d;

  --bg-size: 400px;
  --bg-offset: 0px;

  --accent-color: #ff2c55;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-size: 18px;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    sans-serif;

  @include md {
    padding: 40px;
  }
}

h1 {
  font-weight: 100;
  font-size: 36px;
  margin-top: 0.2em;

  @include md {
    font-size: 50px;
  }
}

a,
a:visited {
  color: #dceaf7;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: var(--main);
}

a:active {
  transform: translateY(1px);
}

a:focus-visible {
  text-decoration: underline;
}

button,
input {
  font: inherit;
}

pre {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
}

// Layout

.app {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  flex: 100% 0 0;
}

.ui-hidden {
  height: 100vh;
  height: 100svh;

  .animation {
    transform: translateY(15vh);
  }

  .controls {
    display: none;
  }

  .toggle-ui {
    opacity: 0.6;
  }
}

.toggle-ui {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  padding: 8px 10px;
  background-color: #253340 !important;

  &:hover {
    opacity: 1;
  }
}

.error {
  font-size: 16px;
  color: #e59800;
  position: absolute;
  background-color: var(--bg);
  z-index: 1;
}

// svg {
//   border-radius: 50%;
//   outline: 1px solid rgba(255, 255, 255, 0.4);
// }

// div {
//   outline: 1px solid rgba(255, 255, 255, 0.4);
// }

/* ----- Animation ----- */

$pixel-size: 7.5%;

.animation {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 500ms;
}

.pixel-wrapper {
  width: $pixel-size;
  height: $pixel-size;
  position: relative;
}

.pixel-wrapper[data-variant='triangular'] {
  width: 10%;
  height: 10%;
}

.pixel-wrapper svg {
  position: absolute;
  display: block;
  overflow: visible;

  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);

  width: 100%;
  height: 100%;
}
/* ----- Controls ----- */

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.control,
label,
.label {
  font-weight: bold;
}

.control--radio {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.checkbox-wrapper:focus-within,
.checkbox-wrapper:focus-within,
.control--radio:focus-within,
.control--range:focus-within {
  .control-name {
    text-decoration: underline;
    opacity: 1;
  }

  input {
    outline: none;
  }
}

label {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  @include md {
    font-size: 18px;
  }
}

.control-name {
  font-weight: bold;
  opacity: 0.7;
}

/* ----- Code editor ----- */

.code-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.code-editor {
  margin-top: 6px;
  font-weight: normal;
  text-align: left;
  width: 100%;
  min-height: 50px;
  position: relative;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);

  @include md {
    min-height: 62px;
  }
}

.code-editor__highlighted-code,
.code-editor__input {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
  font-size: 17px;
  padding: 12px;
  border: none;
  display: block;
  line-height: 26px;
  border-radius: 10px;

  @include md {
    font-size: 20px;
    padding: 18px;
  }
}

.code-editor__input {
  position: absolute;
  top: 0;
  color: transparent;
  background: transparent;
  caret-color: white;
  resize: none;
}

.code-editor__input:focus {
  outline: 4px solid rgba(255, 255, 255, 0.1);
}

.code-editor__highlighted-code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

.code-editor__highlighted-code i {
  font-style: normal;
}

i.quotes {
  color: #e2d872;
}
i.declaration {
  color: #64d5ea;
}
i.fn {
  color: #a7e22e;
}
i.parenthesis {
  color: #fed703;
}
i.squared {
  color: #5fe8e8;
}
i.curly {
  color: #da70d6;
}
i.number {
  color: #9f77e7;
}
i.logic {
  color: #f92572;
}
i.equals {
  color: #5fe8e8;
}
i.comments {
  color: #789;
  font-style: italic;
}
i.comments > * {
  color: inherit;
}

/* --- Debug --- */

.step-back,
.step-forward {
  display: none;
}

#debug:target .step-back,
#debug:target .step-forward {
  display: inline-block;
}

/* --- Buttons --- */

button {
  align-self: flex-start;
  border-radius: 50px;
  border: none;
  color: white;
  background: var(--button-bg);
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  padding: 12px 20px;
  cursor: pointer;
  outline: none;

  svg {
    margin-right: 6px;
    color: var(--fg);
  }
}

button:hover {
  color: var(--main);
  background: var(--button-hover-bg);
}

button:focus {
  color: var(--main);
  background: var(--button-hover-bg);
}

button:focus-visible {
  outline: 2px solid var(--main);
}

button:active {
  background: var(--button-hover-bg);
  // color: var(--main-dark);
  transform: translateY(1px);
}

/* --- Inputs --- */

input {
  accent-color: var(--accent-color);
}

input[type='radio']:checked + .label {
  color: var(--accent-color);
}

/* --- Range input --- */

input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  padding: 0;
  height: 32px;
  cursor: pointer;
  color: var(--input-range-color);
  outline: none;
  display: block;
  width: 100px;
  border-radius: 2px;
}

input[type='range']:hover {
  color: var(--main);
}

.control--range:focus-within {
  .label {
    opacity: 1;
    text-decoration: underline;
  }

  input {
    color: var(--main);
  }
}
// input[type='range']:focus-visible {
//   outline: 1px solid var(--main);
//   outline-offset: 2px;
// }

// I don't like it
// input[type="range"]:active {
//   color: var(--main-dark);
// }

input[type='range']:focus-visible + .option-focus {
  outline: 2px solid var(--outline-color);
}

/* Webkit */

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: currentColor;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: var(--input-thumb-size);
  width: var(--input-thumb-size);
  border-radius: 50%;
  background: var(--bg);
  border: 2px solid currentColor;
  margin-top: -8px;
  box-shadow: none;
}

/* Firefox */

input[type='range']::-moz-range-track {
  width: 100%;
  height: 2px;
  background: currentColor;
}

input[type='range']::-moz-range-thumb {
  height: var(--input-thumb-size);
  width: var(--input-thumb-size);
  border-radius: 50%;
  background: var(--bg);
  border: 2px solid currentColor;
}
