@use 'sass:math';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1e2c3a;
  color: #eee;
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium',
    'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

a {
  color: #dceaf7;
}

button,
input {
  font: inherit;
}

pre {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
}

.app {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.error {
  color: #e59800;
}

// svg {
//   border-radius: 50%;
//   outline: 1px solid rgba(255, 255, 255, 0.4);
// }

// div {
//   outline: 1px solid rgba(255, 255, 255, 0.4);
// }

/* ----- Animation ----- */

$pixel-size: 7.5%;

.animation {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel-wrapper {
  width: $pixel-size;
  height: $pixel-size;
  position: relative;
}

.pixel-wrapper[data-variant='triangular'] {
  width: 10%;
  height: 10%;
}

.pixel-wrapper svg {
  position: absolute;
  display: block;
  overflow: visible;

  will-change: transform;
  // backface-visibility: hidden;
  // transform: translateZ(0);

  width: 100%;
  height: 100%;
}
/* ----- Controls ----- */

.controls {
}

/* ----- Code editor ----- */

.code-editor {
  width: 100%;
  height: 120px;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  color: #eee;
}

.code-editor__highlighted-code,
.code-editor__input {
  width: 100%;
  height: 100%;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
  font-size: 18px;
  padding: 12px;
  border: none;
  display: block;
  line-height: 26px;
  border-radius: 2px;
}

.code-editor__input {
  position: absolute;
  top: 0;
  color: transparent;
  background: transparent;
  caret-color: white;
  resize: none;
}

.code-editor__input:focus {
  outline: 4px solid rgba(255, 255, 255, 0.1);
}

.code-editor__highlighted-code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

.code-editor__highlighted-code i {
  font-style: normal;
}

i.quotes {
  color: #e2d872;
}
i.declaration {
  color: #64d5ea;
}
i.fn {
  color: #a7e22e;
}
i.parenthesis {
  color: #fed703;
}
i.squared {
  color: #5fe8e8;
}
i.curly {
  color: #da70d6;
}
i.number {
  color: #9f77e7;
}
i.logic {
  color: #f92572;
}
i.equals {
  color: #5fe8e8;
}
i.comments {
  color: #789;
  font-style: italic;
}
i.comments > * {
  color: inherit;
}
